
.header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15rem;

    &__tagline {
        font-size: 3.6rem;
        line-height: 4rem;
    }

    &__btns {
        margin-top: 15rem;
        gap: 20%;
    }
}